/* start variables */
:root {
  --section-padding: 30px;
  --main-color: #008080;
  --secondary-color: #FF6F61;
  --background-color: white;
}
/* end variables */
/* #343A40 */

/*start global rules*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--background-color);
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px)
{
  .container{
      width: 750px;
  }
}
@media (min-width: 992px)
{
  .container{
      width: 970px;
  }
}
@media (min-width: 1200px)
{
  .container{
      width: calc(100% - 30px);
  }
}
/*end global rules*/


/*start header section*/
.header-section{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: black;
}
.header-section .container{
  display: flex;
  align-items: center;
  position: relative;
}
.header-section .container .logo{
  color: white;
  display: flex;
  justify-content: space-around;
}
/* @media (max-width:767px)
{
  .header-section .container .logo{
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
} */
.header-section .container .logo .fa-2x {
  color: var(--secondary-color);
}
.header-section .container .logo h2{
  margin-left: 10px;
}
/*end header section*/
/*start dashboard sercton*/
.dashboard-section{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #eee;
}

/*end dashboard sercton*/

/*start add-section*/
.add-section{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.add-section .container{
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 40px;
}
.add-section .container .projects
{
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
.add-section .container .projects .item{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.add-section .container .projects .item .info{
  display: flex;
}
.add-section .container .projects .item .info .data
{
  margin-right: 20px;
}
.add-section .container .projects .item .info .data p:first-child{
  margin-bottom: 15px;
}
.add-section .container .projects .item .info .data p:last-child{
  color: #ddd;
  font-size: 14px;
}
.add-section .container .projects .result .show-logs{
  margin-right: 20px;
  cursor: pointer;
}

.add-section .container .add .add-items{
  display: flex;
  align-items: center;
  width: 150px;
  margin-bottom: 20px;
}
.add-section .container .add .add-items button{
  margin-right: 10px;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: var(--secondary-color);
}
.add-section .container .add .add-items button:hover{
  border: solid 1px orange;
}
.add-section .container .add .add-items div{
  color: var(--secondary-color);
}


/*end add-section*/


/*start modal*/
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-overlay .modal{
  position: relative;
  z-index: 3;
  background-color: white;
  max-width: 500px;
  padding: 50px;
  border-radius: 10px;
}
.modal-overlay .modal .close-modal{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*end modal*/

/*start Logs*/
.logs{
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #e0f7fa;
  /* #f0f4f8
  #e0f7fa
  #d1e8e4 */
}
.logs p{
  margin-bottom: 10px;
}
/*end Logs*/









/*start body section */

/*end body section */

/*start footer section*/
.footer-section{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
}
.footer-section .container{
  text-align: center;
  color: white;
}
.footer-section .container .fa-2x{
  color: var(--secondary-color);
}
.footer-section .container p{
  display: inline;
  margin-left: 10px;
}
.footer-section .container p span{
  color: var(--secondary-color);
  font-weight: bold;
}
/*end footer section*/



/* web socket with react , and use dummy server


first apply on this data
{"project":123,"stage":"formatting","log":"hello\n"}
{"project":123,"stage":"formatting","log":"total 48\n-rw-r--r-- 1 root root  113 Sep 21 21:08 README.md\n-rw-r--r-- 1 root root  170 Sep 21 21:08 TestNet.yaml\ndrwxr-xr-x 3 root root 4096 Sep 21 21:08 authentication\n-rwxr-xr-x 1 root root  221 Sep 21 21:08 build.sh\ndrwxr-xr-x 3 root root 4096 Sep 21 21:08 distributed_project\n-rwxr-xr-x 1 root root  675 Sep 21 21:08 manage.py\ndrwxr-xr-x 3 root root 4096 Sep 21 21:08 paymentservice\n-rw-r--r-- 1 root root  598 Sep 21 21:08 render.yaml\n-rw-r--r-- 1 root root  841 Sep 21 21:08 requirements.txt\n-rw-r--r-- 1 root root  237 Sep 21 21:08 ruff.toml\ndrwxr-xr-x 3 root root 4096 Sep 21 21:08 stats\ndrwxr-xr-x 3 root root 4096 Sep 21 21:08 store\n"}
stage_name
logs
*/
